@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Manufacturing+Consent&family=Playwrite+VN+Guides&display=swap");
/* //seletors  */

/* types of selectors */
/*1. tag selector /element selector  */

button {
  background-color: blue;
}

/* 2 . class selector use .  */
.positive {
  background-color: green;
}

.negative {
  background-color: red;
}

.round {
  border-radius: 5000px;
}

/* 3 id selector #  */

#main {
  border: 5px solid green;
}

/* 4 universal selector // global selector  */

/* what is casscading style sheet ? what do you mean by casscading */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#box {
  height: 250px;
  width: 250px;
  background-color: red;
  /* border: 10px solid blue; */
  /* padding: 20px; */
  /* margin: 0px 0px 0px 0px; short hand property */
  margin-left: 30px;
  border-width: 39px;
  border-style: solid;
  border-color: aqua;
  border-radius: 300px 0px 300px 0px; /*tl tr br bl*/
  overflow-x: hidden;

  /*y-axis , x-axis*/
}

/* //box modal // */
/* height units : px,rem,em | dynamic unit % , vh ,vw
widht units : px,rem,em | dynamic unit % , vh ,vw
margin units : px,rem,em 
padding
border
outine
content */

/* /typography styling */
/* font  */
p {
    width: 50vw;
    padding: 10px;
  font-size: 2.2em; /*unit px rem em */
  font-weight: 600;
  font-style: oblique;
  /* font style like cursive handwritter or exter styles */
  text-align:justify ;
  /* color: blue; */
  text-decoration: underline solid blue 3px;
  text-underline-offset: 20px;
  line-height: 70px;
  letter-spacing: 20px;

}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


#name{
    text-align: center;
    font-size: 30rem;
    letter-spacing: 25px;
    text-transform: uppercase;
    color: rgba(99, 255, 38, 0.755);
    border: 5px solid;
    /* -webkit-text-stroke:4px red ; */
    /* text-shadow: -20px 0px 15px rgb(183, 37, 37); */
    /* background: url('https://t4.ftcdn.net/jpg/02/81/89/73/360_F_281897358_3rj9ZBSZHo5s0L1ug7uuIHadSxh9Cc75.jpg'); */
    background-clip: text;
    background:linear-gradient(45deg,#392D69,#7754AC,#B57BEE) ;
}