
p{
    background-color:#ff0000;
    border:5px solid blue;
    width: 500px;

} 

basic layout of element and website
1 types of selectors
2 types of properties and their valid values 
3 positions
4 displays